body {
    margin: 0;
    background: white;
    font: 1em Verdana, Tahoma, Arial;
    font-size: 15px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

#main {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

                                                            /*Header*/

#topHeader {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
}

#sliderHeader {
    width: 100%;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}

                                                                /*Navigator*/

#navigator {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gray;
    align-content: center;
}

.nav {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.topmenu {
    position: relative;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.topmenu li {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.link {
    font-family: sans-serif;
    display: block;
    height: 70px;
    line-height: 70px;
    padding: 0 50px;
    font-weight: 100;
    color: dimgray;
    text-transform: uppercase;
    transition: color .4s ease-in-out;
}

.link:hover {
    border-bottom: 2px solid cyan;
    color: black;
    font-weight: 500;
}                                                            /*Content*/

#content {
    
}

#contentText {
    width: 650px;
    float: left;
}

#contentSide {
    width: 350px;
    float: left;
}

.sidebar {
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

                                                            /*Footer*/

#footer {
    border-top: 1px solid gray;
    width: 100%;
    height: 50px;
    clear: both;
}

p#rights {
    color: dimgray;
    font-size: .8em;
}