* {
    margin: 0;
}

body {
    height: 100%;
    min-width:900px;
}

html { 
    position:relative; 
    min-height:100%;
}

/*all content*/

#container {
    padding-bottom: 100px;/*Примерно 2 размера footer, чтобы он не наезжал на контент при узком окне браузера*/ 
    height: 71%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-indent: 25px;
}

.contact {
    clear: both;
    height: 50px;
    width: 90%;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    box-shadow: -5px -5px -5px rgba(0,0,0,.4);
}

#container .title {
    float: left;
}

#container .photo {
    width: auto;
    min-width: 112px;
    min-height: 150px;
    height: auto;
    background: url(img/avatar/8a743f654c8c4eb58b6282f801423058.jpg) no-repeat;
    float: left;
}

/*heade + menu + ul + li + a*/

#menu {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 500px;
    height: 35px;
    display: block;
    align-content: center;
}

#header {
    padding: 0px;
    background: URL(img/head.png) repeat;
}

#header ul {
    margin: 0px;
    padding: 0px;
}

#header ul li {
    display: inline-block;
    padding: 5px 40px 5px 40px;
    font-size: 20px;
}

#header ul li a {
    text-decoration: none;
    align-content: center;
}

a:visited {
    color: black;
}

a:hover {
    color: aliceblue;
}

/*footer + copiright*/

#footer {
    height: 100px; 
    position: absolute;
    bottom: 0;
    width: 100%;
    background: URL(img/footer.png) repeat center;
}

#copyright {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 77px;
}