/*body
#main
    #header
        #firstHeader
            #textFirstHeader
            #socialFirstHeader
            #searchFirstHeader
        #secondHeader
            #logo
            #navigator
                #ul
                    #li
                        #a
        #thirdHeader
    #content
        #bigContainer
        #smallContainer
    #footer
        #adressFooter
        #contactFooter*/
body {
    /*background: URL(img/wallpapers/City-night-city-road-vehicles_1600x900.jpg) no-repeat;*/
}

#main {
    width: 1000px;
    height: 100%;
    border: 1px dotted grey;
    margin-left: auto;
    margin-right: auto;
}

#header {
    border: 1px dotted grey;
    height: 400px;
    width: 100%;
}

#firstHeader {
    width: 99%;
    height: 98px;
    border: 1px dotted grey;
    background: #00FF99;
}

#secondHeader {
    width: 99%;
    height: 98px;
    border: 1px dotted grey;
    background: #11FF55;
}

#thirdHeader {
    width: 99%;
    height: 198px;
    border: 1px dotted grey;
    background: #99FF99;
}

#navigator {
    display: inline-block;
    background: #FF00FF;
}

#navigator ul {
    display: inline-block;
    background:  bisque;
}

#avigator ul li {
    display: inline-block;
}

#content {
    clear: both;
    border: 1px dotted grey;
    display: table;
}

teble {
    border: 1px solid grey;
}

#footer {
    border: 1px dotted grey;
    width: 100%;
    height: 150px;
    clear: both;
}

#adressFooter {
    float: left;
    border: 1px dotted grey;
    height: 149px;
    width: 49%;
}

#contactsFooter {
    float: left;
    border: 1px dotted grey;
    height: 149px;
    width: 49%;
}