#slider {
    width: 900px; /*All width of slider*/
    margin: 0 auto; 
    position: relative;
}

#slides {
    background: #fff;
    padding: 5px;
    box-shadow:2px 2px 4px #333, inset 1px 1px 0 #ddd;
    border-radius: 5px;
}
.inner {
    width: 500%; /*Push img in left side*/
}

.inner:after {
	content:'';
	display: block;
	height: 0;
	clear:both;
}

.page {
    float: left; width: 20%;
}

.page img {
    width:888px; height: 250px; /*Set up size of photo*/
}

#overflow {
    overflow: hidden;
}

#slider input {
    display: none;
}

#controls {
    position: absolute;
    width:100%;
    top: 120px;
    left: 0;
    height: 50px;
}

#controls label {
    display: none;
    opacity: 0.3;
    cursor: pointer;
}

#controls label:hover {
    opacity: 0.8;
}
													/* Rolling Rhoto */	
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
                                                    /* button in right -> */
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #333;
    border-bottom: 20px solid transparent;
    float: right; /*in right side*/
    margin-right:-30px; /* за блок*/ 
    display: block;
}

#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
                                                    /*Button in left  <- */
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
    border-right: 20px solid  rgb(51, 51, 51);
    float: left;	
	display: block;
    margin-left: -27px;
}

#slide1:checked ~ #slides .inner { margin-left:0;} 
#slide2:checked ~ #slides .inner { margin-left:-100%;} 
#slide3:checked ~ #slides .inner { margin-left:-200%;} 
#slide4:checked ~ #slides .inner { margin-left:-300%;} 
#slide5:checked ~ #slides .inner { margin-left:-400%;} 

                                                    /*Buttons for controls*/
#active {
    text-align: center;
    margin-top: 10px;
}
#active label {
    width: 15px;
    height:10px;
    background-color: darkgray;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
}

#active label:hover {
    background-color: darkslategray;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
    background: #333;
}

#slides .inner {
    transition: all 0.8s ease-in-out;
}